.drag-up {
    animation: dragup ease 0.1s 1;
  
    animation-fill-mode: forwards;
  }
  
  .drag-down {
    animation: dragdown ease 0.1s 1;
  
    animation-fill-mode: forwards;
  }
  
  @keyframes dragup {
    from {
      margin-top: 10px;
    // transform: translateY(10px);
    }
  
    to {
      margin-top: 50px;
    // transform: translateY(50px);

    }
  }
  
  @keyframes dragdown {
    from {
      margin-bottom: 10px;
  
      margin-top: 50px;
    //  transform: translateY(-10px);
        
    }
  
    to {
      margin-bottom: 50px;
  
      margin-top: 10px;
    //  transform: translateY(-50px);
    }
  }